<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elena.eden">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home"
            android:theme="@style/ThemeHome"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Venta"
            android:theme="@style/ThemeVenta"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Alquiler"
            android:theme="@style/ThemeAlquiler"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Anticretico"
            android:theme="@style/ThemeAnticretico"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Contactos"
            android:theme="@style/ThemeContacto"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>